body{
    background-color: #404040;
}

.keys{
    color: rgb(210, 210, 0);
    font-size: 32px;
    font-weight: bold;
}

.text{
    color: white;
    text-indent: 30px;
    font-size: 28px;
    font-weight: bold;
}

.mainContainer{
    padding-left: 40%;
    display: inline-flexbox;
}